/* HEADER QUI  */
html{
size:100%;
}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center
}
header input.form-control{

    width:500px;
}
body {
    min-height:100%;
    display:flex;
    flex-direction: column;
    background-color: rgb(20,20,20) !important;
}

#dropbutt {
    border-top-right-radius:0 ;
    border-bottom-right-radius:0 ;
}
#searchbutt {
    border-top-left-radius:0 ;
    border-bottom-left-radius:0 ;
    height:38;
}
.form-check{
    margin-left:10px
}
header {
    background-color: #222222;
    color: #A36D29;
}

#headerlogo{
    margin: 0 2%;  
}

#headsearch {
padding-top: 13.5;
}

#header-sbar{
    height:41px;
    margin-right:0!important;
}

#simboliheader{

    padding-bottom: 8!important;
    margin-right: 15;
}
#header-button{
    width:50px; height:55px;
   padding:0;
  vertical-align: top;
  background-color: #A36D29;
}

.catalog {
    background-color: #ffd617;
    vertical-align:top; 

    }



.scrollable-dropdown{
    height: auto;
    max-height:320px; 
    overflow-x: hidden;
}

#headselect {
    width:125px;
}
/* NON FUNZIONA 

.form-check input[type="checkbox"]:checked + .form-check-label {
    background-color: green; 
    color: white;
}

.form-check input[type="checkbox"]:checked#filter1 + .form-check-label {
    background-color: yellow;
    color: black;
}
*/


@media all and (max-width: 859px ){


    #header-sbar {

         width:auto;   
        }


 }

 @media all and (min-width: 860px ){



    #header-sbar {
    width:auto;
        
    }
}



/* FOOTER QUI  */

#footer {
    background-color: #222222;
    color: #A36D29;
    margin-top:auto;      /* Footer height */
}


