#middle-container{
    width: 70%;
    min-height: 80%;
    height: auto;
    align-self: center;
    background-color: rgb(50,50,50);
    
}
p,h1{
    color:white;

}
p{
    font-size: 16px;
}
h1{
    color: white!important;
}
#pagetitle{
    text-align: center;
}
#top-sublayer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#top-layer {

    border: 1px solid green; /* Default border color */
    padding: 10px;
    margin: 1%; /* Spacing between results */
    border-radius: 15px;
    

}
.brewery-text {

    padding: 0;
}
.topimg-container{
    padding:10px;
}

/* Define the grid container */
.grid-container {
    display: grid;
    margin: 2% 15%;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 20px; /* Gap between items */
}

/* Define the style for each item */
.grid-item {
    display: flex;
    align-items: center;
    border: solid 1px #A36D29; /* Border for the frame */
    border-radius: 15px;
    padding: 10px;
    color: white;
}

/* Style for the image within the frame */
.item-image {
    max-width: 150px; /* Adjust the size of the image */
    max-height: 150px;
    margin-right: 10px; /* Spacing between the image and content */
    border: solid 1px #A36D29;
    border-radius: 15px;
}

/* Optional: Add some additional styles for the items */
.item-content {
    font-size: 16px;
}

@media all and (max-width: 1300px ){


    #middle-container{
        width: 100%;
    }
    
}
@media all and (max-width: 920px ){


    #top-sublayer{
        flex-direction: column!important    ;
        align-items: center;   
    }
}