#container{
    width: 60%;
    height: 100%;
    align-self: center;
    background-color: rgb(50,50,50);
}

.carousel-container {
    position: relative;
    width: 100%; /* Adjust as needed */
    margin: 20px 0;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel img {
    width: 100%;
    height: auto;
}

.indicators {
    text-align: center;
    margin-top: 10px;
}

.indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #888;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.indicator.active {
    background-color: #A36D29;
}
