<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <link rel="stylesheet" type="text/css" href="styles/base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
          <!-- Bootstrap 5.3 JavaScript -->


</head>
  <header id="header">
      <!-- Logo + home link -->   
     <div class="d-flex flex-row justify-content-between align-items-center">
        <div class="p-2 bd-highlight" id="headerlogo">
          <a href="home.html"> 
             <img src="components/brewser_logo_text.png" width="90px" height="99px" alt="Brewser-logo">
          </a>
        </div> 
       <!-- Search bar  -->       
        <div class="p-2 bd-highlight">
             
                  <div class="input-group">
                      <div class="input-group-prepend" id="filterbutt">
                        <div class="dropdown">
                          <div class="dropdown-select" onclick="toggleOptions(event)">Filtra</div>
                          <div class="options" id="options">
                              <div class="option" onclick="selectOption(this, 'green')">Birrifici</div>
                              <div class="option" onclick="selectOption(this, 'yellow')">Birre</div>
                              <div class="option" onclick="selectOption(this, 'yellow')">Birrerie</div>
                          </div>
                      </div>
                      </div>
                      <input type="text" class="form-control" placeholder="Ricerca qui">
                      <div class="input-group-append">
                          <button class="btn btn-primary"   id="searchbutt" type="button">
                            <i class="fa fa-search" aria-hidden="true"></i>
                          </button>
                      </div>
                  </div>
             
      </div>
       <!-- Tasti ricerche -->    
        <div class="p-2 bd-highlight" id="simboliheader">
          

          <a class="btn btn-link " id="header-button" href="#!" role="button" data-mdb-ripple-color="dark">
            <img class="" src="components/beer-simbolo.png" width="50px" height="55px" alt="simbolo-birra"><i></i>
          </a>

          <div class="vr vr-blurry" style="height: 50px;"></div>

          <a class="btn btn-link " id="header-button"href="#!" role="button" data-mdb-ripple-color="dark">
            <img class="" src="components/birreria-simbolo.png" width="50px" height="55px" alt="simbolo-birra"><i></i>
          </a>

          <div class="vr vr-blurry" style="height: 50px;"></div>

          <a class="btn btn-link" id="header-button" href="#!" role="button" data-mdb-ripple-color="dark">
            <img class="" src="components/produttore-simbolo.png" width="50px" height="55px" alt="simbolo-birra"><i></i>
          </a>

        </div> 
     </div>
       


    
    <script>  function toggleOptions(event) {
      const options = document.getElementById('options');
      const dropdownSelect = document.querySelector('.dropdown-select');
      
      if (options.style.display === 'block' && !event.target.classList.contains('option')) {
          // Close the dropdown if it's open and not clicking on an option
          options.style.display = 'none';
          dropdownSelect.classList.remove('active');
      } else {
          options.style.display = options.style.display === 'block' ? 'none' : 'block';
          dropdownSelect.classList.toggle('active');
      }
  }

  function selectOption(option, color) {
      if (option.classList.contains('selected-' + color)) {
          // Deselect the option
          option.classList.remove('selected-' + color);
          option.classList.remove('clicked');
      } else {
          // Select the option
          option.classList.add('selected-' + color);
          option.classList.add('clicked');
      }
  }

  document.addEventListener('click', function(event) {
      const options = document.getElementById('options');
      const dropdownSelect = document.querySelector('.dropdown-select');
      
      if (!event.target.closest('.dropdown')) {
          // Clicked outside the dropdown, close it
          options.style.display = 'none';
          dropdownSelect.classList.remove('active');
      }
  });</script>
    </body>

</html>